body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

/*home page styles*/

.masthead {  

  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

/*Segment Styles for ActivityList*/
.ui.segment {
  border-color: #2185d0;
  margin-top: auto;
}
/*End Segment Styles for ActivityList*/
body.dimmable > .dimmer {
  background: rgba(255, 255, 255, 0.1);
}
.ui.items > .item > .image {
  max-width: 180px;
  width: 100%;
  height: auto;
}
.wrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ui.tiny.images img,
.ui.tiny.image {
  width: 40px;
  max-width: none;
}
div.right.item.NavRightMenu {
  padding-right: 50px;
}
.ui.dropdown > .text {
  font-size: large;
}
div.ui.basic.segment {
  bottom: 100%!;
  top: 1%!;
}
@media screen and (max-width: 570px) {
  div.ui.basic.segment.activityImageTextStyle {
    font-size: 10px;
    position: absolute;
    top: 10%;
    bottom: 90%;

    width: 100%;
    height: auto;
    color: white;
  }
}
@media screen and (min-width: 571px) {
  div.ui.basic.segment.activityImageTextStyle {
    font-size: 20px;
    position: absolute;
    top: 20%;
    bottom: 80%;

    width: 100%;
    height: auto;
    color: white;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.button.ui.teal.button.isMainButton > i.star.icon {
  color: #f8fe10;
}
.borderImage > img {
  border: 2px solid #ff4800 !important;
}
.imageWithpointer{
  cursor: pointer;
}
