bin
obj
.vscode
.DS_Store
*.db
.vs
# test
**/cypress/videos
**/cypress/screenshots
# dependencies
node_modules

# production
build

# development in docker container
**/.devcontainer

.dockerignore
**/.next/*
**/out

# local testing
.github/workflows/local
